@media (max-width: 1240px) {

    .fruits__item,
    .vegetables__item {
        max-width: 240px;
    }
}

@media (max-width: 1020px) {

    .fruits__item,
    .vegetables__item {

        flex-direction: row;
        position: relative;
        max-width: 300px;
        justify-content: space-between;
    }

    .fruits__items,
    .vegetables__items {
        flex-direction: column;
        justify-content: space-between;
    }


    .secontary-btn-cart {
        margin-top: 10px;
        display: block;
        color: #ffffff;
        background-color: #eda407;
        border-color: #eda407;
        padding: 6px 10px;

        &:hover {
            color: white;
            background-color: black;
            border-color: black;
        }
    }

    .fruits__item-img,
    .vegetables__item-img {
        position: unset;
        margin-bottom: unset;
        border: unset;
        max-width: 100px;

        .middle {
            display: none;


        }

        &:hover {
            background: rgba(199, 199, 199, 0.39);
            border: unset;
        }


        &:hover .image {
            opacity: 1;
        }
    }
}

@media (max-width: 950px) {

    .footer__col {
        flex: 0 0 50%;

        &:last-child {
            flex: 0 0 100%;
            padding-top: 30px;
        }
    }

    .footer__gallery a {
        flex: 0 0 25%;
    }


    .contact-us__row {
        flex-wrap: wrap;
        justify-content: center;
    }

    .contact-us__col {
        flex: 0 0 80%;

        &:first-child {
            margin-bottom: 50px;
        }
    }

    .team__col {
        max-width: unset;
        flex: unset;
    }


    .menu-link {
        padding: 28px 10px 30px;
    }

    .swiper-slide {
        justify-content: center;
    }

    .slider-cnt {
        margin: 0;
    }

    .cart-box {
        padding-top: 30px;
        text-align: center;
        display: flex;
        justify-content: center;

        .cart {
            display: block;
        }
    }

    .search-form {
        display: block;
    }

    .header-top {
        justify-content: flex-start;
    }

    .hamburger-left {
        display: flex;
        margin-right: 30px;
    }

    .header-buttons {
        display: none;
    }

    .menu {
        display: flex;
        position: absolute;
        top: 80px;
        width: 100%;
        left: -100%;
        height: 100vh;
        z-index: 22;
        bottom: 0;
        background: transparent;
        overflow: hidden;
        transition: 0.3s all ease-in-out;

        .nav-wrap {
            background: white;

            .search-form {
                padding-top: 20px;
                padding-bottom: 30px;
            }

            .cart-box {
                padding-top: 30px;
                text-align: center;
            }

            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 300px;
                background: white;
                padding-top: 30px;
                border-top: 1px solid #d7d7d7;

                li {
                    width: 100%;
                    padding-bottom: 5px;
                }

                a:hover {
                    background-color: #3c6a36;
                    color: white;
                }
            }
        }

        .menu-link {
            display: block;
            width: 100%;
            padding: 10px 10px 10px;
        }

        .menu-link-active {
            background-color: #3c6a36;
            color: white;
        }
    }

    .menu-active {
        left: 0;
    }

    .menu-hide {
        left: -300px;
    }
}

@media (max-width: 767px) {
    .statistics__item {
        flex: 0 0 50%;
        padding: 10px;

        &:nth-child(even) {
            border-right: 1px solid rgba(255, 255, 255, 0);
        }
    }

    .gallery__box a {
        flex: 0 0 45%;
    }

    .partners__pagination {
        display: block;
    }

    .quote__text {
        margin: 10px 50px;
    }

    .top-image__col {
        flex: 0 10 44%;
    }

    .slider-cnt {
        padding: 130px 30px;
    }

    .slider-title {
        font-size: 70px;
    }

    .slider-subtitle {
        font-size: 14px;
        line-height: 26px;
    }

    .fruits__item-body,
    .vegetables__item-body {
        margin-left: 10px;
    }

    .fruits__inner,
    .vegetables__inner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .fruits__items,
    .vegetables__items {
        margin-top: 20px;
        flex-direction: row;
        justify-content: space-evenly;
        max-width: 100%;
    }

}

@media (max-width: 600px) {
    .footer__copy {
        text-align: center;
    }

    .footer__social-menu {
        margin-left: 8px;
    }

    .footer__social {
        margin-top: 50px;
        justify-content: center;
    }

    .footer__col {
        text-align: center;
        flex: 0 0 100%;
    }

    .footer__subscribe {
        margin-top: 30px;
    }

    .footer__gallery a {
        flex: 0 0 50%;
    }

    .contact-us__col {
        flex: 0 0 100%;
    }

    .contact-us-first-last {
        justify-content: center;
        flex-wrap: wrap;
    }

    .contact-us__button button {
        flex: 0 0 100%;
    }

    .contact-us__last,
    .contact-us__first {
        margin-right: 0;
        flex: 0 0 100%;
    }

    .gallery__box a::after {
        opacity: 1;
    }

    .quote__body {
        padding: 10px 0;
    }

    .quote__text {
        font-size: 16px;
    }

    .fruits__banner,
    .vegetables__banner {
        max-width: unset;
    }

    .fruits__items,
    .vegetables__items {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .slider-cnt {
        padding: 50px 30px;
    }

    .top-image {
        padding: 50px 0;
    }

    .our-approach__inner {
        padding: 50px 0 80px;

        p {
            margin-bottom: 60px;
        }

        h2 {
            margin-bottom: 50px;
        }
    }

    .quotes,
    .team,
    .statistics {
        padding: 50px 0;
    }

    .quotes .swiper-pagination {
        bottom: 15px;
    }


    .heading {
        font-size: 40px;
    }

    .statistics__item {
        flex: 0 0 100%;

        border-right: unset;
        margin-bottom: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .gallery__box a {
        flex: 0 0 90%;
    }

    .quote__text {
        margin: 10px;
    }

    .top-image__col {
        flex: 0 0 100%;
    }
}