%pop-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

%pop-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

%pop-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

%mangaba {
    font-family: 'mangabaregular';
    font-weight: 400;
}